<template name="fxItem">
    <div class="post">
        <div class="post-content">
            <h3>{{location}}
                <div>{{currency}}</div>
                <span>{{rate}}</span>
                <span>&nbsp;</span>
                <span>{{target}}</span>
                <span>
                    {{#if country}}
                        <img src="http://flagpedia.net/data/flags/normal/{{country}}.png" width="50px">
                    {{/if}}
                </span>
                </h3>
        </div>
    </div>
</template>
